body {
  background: hsl(0, 0%, 76%);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(0, 0, 255, 0.99);
}

::selection {
  color: white;
  background: rgba(0, 0, 255, 0.99);
}

* {
  direction: ltr;
}
